html {
  box-sizing: border-box;
  height: 100%
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  padding-bottom: 6rem;
}

.button {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  text-decoration: none;
  font-weight: 700;
  appearance: none;
  border: 2px solid #8eac66;
  border-radius: 4px;
  background-color: #8eac66;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  text-align: center;
  line-height: 0;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 1.5em;
  outline: none;
}

.button:hover {
  border: 2px solid #8eac66;
  text-decoration: none;
  background-color: #689133;
  border-color: #689133;
}

.button.disabled,
.button.disabled:hover {
  background-color: #d8eebc;
  cursor: default;
  border: 2px solid #cde4ae;
}

.button-light {
  background-color: #a7ad9f;
}

.button-light:hover {
  background-color: #eaeee5;
  border-color: #eaeee5;
}

.input {
  -webkit-font-smoothing: antialiased;
  visibility: visible;
  -webkit-box-direction: normal;
  margin: 0;
  width: 100%;
  padding: 5px 10px;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  appearance: none;
  border: 1px solid #d1d4db;
  background: white;
  box-sizing: border-box;
  font-size: 14px;
  height: 38px;
  min-height: 38px;
  border-radius: 5px;
  line-height: normal;
  margin-right: 0.5em;
}

.form-submit {
  margin-top: 1rem;
  display: inline-block;
}

label {
  width: 80px;
  display: inline-block;
}

.input-md {
  width: 353px;
}

.meter-image {
  max-width: 550px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: 550px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form {
  margin-left: 1rem;
}

#address_results {
  margin: 0 0 0 45px;
  position: absolute;
  z-index: 999;
}

.autoComplete_highlighted {
  color: #689133;
}

.autoComplete_result {
  min-width: 330px;
  max-width: 330px;
  margin: 0;
}

.autoComplete_result:hover {
  background-color: #bfe4bbf1;
}

.autoComplete_result:hover {
  border-top: 0.05rem solid #e3e3e3;
  border-bottom: 0.05rem solid #e3e3e3;
  border-left: 2px solid #689133;
  border-right: 2px solid #689133;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  color: black;
}

.map {
  height: 400px;
  width: 100%;
  margin-bottom: 1rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #8eac66;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}